@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.about-section {
    @include flex();
    width: 100%;
    background-color: #ffffff;
    overflow-x: clip;

    &__content {
        @include flex($direction: row, $justify: space-between);
        position: relative;
        max-width: 1440px;
        width: 100%;
        padding: 60px 50px;
        z-index: 0;
        overflow-y: clip;
    }

    &__left {
        flex: 1;

        img {
            filter: drop-shadow(0 12px 12px rgba($gold-primary, 1.0));
            user-select: none;  
        }

        &--career {
            display: none;
        }
    }

    &__right {
        @include flex($align: start, $gap: 30px);
        width: fit-content;
        flex: 1.2;

        &--text {
            @include flex($align: start, $gap: 30px);
            text-align: left;
            z-index: 5;

            h2 {
                @include title-font($size: 40px, $color: $gold-dark);
                line-height: 44px;
                max-width: 450px;
            }
        }

        &--body {
            @include flex($gap: 30px);

            p {
                @include body-font($size: 18px, $color: $gray-dark);
                line-height: 22px;
                max-width: 700px;
            }
        }

        &--career {
            @include flex($direction: row, $justify: start, $gap: 60px);
            margin-top: 20px;
            user-select: none;  
        }
    }

    &__background {
        &--left {
            position: absolute;
            pointer-events: none;
            z-index: -1;
            left: -600px;
            bottom: -400px;
        }

        &--right {
            position: absolute;
            pointer-events: none;
            z-index: -1;
            right: -500px;
            top: -300px;
        }
    }
}

// Responsive medium
@include responsive(medium) {
    .about-section {
        &__content {
            @include flex($direction: row, $gap: 30px);
            padding: 60px 40px;
        }

        &__left {
            @include flex();

            img {
                width: auto;
            }
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .about-section {
        &__content {
            @include flex($gap: 20px);
        }

        &__left {
            @include flex();
            order: 2;
            
            img {
                width: 475px;
            }

            &--career {
                @include flex($gap: 30px);
                width: 100%;
                margin-top: 50px;
                user-select: none;  

                img:nth-child(1) {
                    width: 200px;
                }
            }
        }

        &__right {
            &--text {
                h2 {
                    font-size: 40px;
                    line-height: 44px;
                }
            }

            &--body {
                p {
                    font-size: 18px;
                    line-height: 20px;
                }
            }

            &--career {
                display: none;
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .about-section {
        &__content {
            padding: 60px 30px 60px;
        }

        &__right {
            &--text {
                h2 {
                    font-size: 30px;
                    line-height: 34px;
                }
            }
        }

        &__left {
            &--career {
                img:nth-child(1) {
                    width: 150px;
                }

                img:nth-child(2) {
                    width: 250px;
                }
            }
        }

        &__background {
            &--left {
                left: -400px;
                bottom: -300px;

                img {
                    height: 1300px;
                }
            }

            &--right {
                right: -400px;
                top: -200px;

                img {
                    height: 1300px;
                }
            }
        }
    }
}