@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.faq-section {
    @include flex();
    width: 100%;

    &__content {
        @include flex($direction: row, $gap: 120px);
        padding: 60px 50px 100px;
        max-width: 1440px;
    }

    &__left { 
        align-self: end;
        width: 100%;
        flex: 1;
    }

    &__right {
        @include flex($align: start, $gap: 50px);
        flex: 1;

        &--text {
            @include flex($align: start, $gap: 30px);
            text-align: left;

            h2 {
                @include title-font($size: 40px, $color: $gold-dark);
                line-height: 44px;
                max-width: 600px;
            }

            h3 {
                @include body-font($size: 20px, $color: $gray-dark);
                line-height: 24px;
                max-width: 700px;
            }
        }
    }
}

// Responsive medium
@include responsive(medium) {
    .faq-section {
        &__content {
            @include flex($gap: 60px);
            padding: 60px 40px 100px;
        }

        &__left {
            align-self: center;
            order: 2;
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .faq-section {
        &__right {
            &--text {
                h3 {
                    font-size: 18px;
                    line-height: 20px;
                }

                h2 {
                    font-size: 40px;
                    line-height: 44px;
                }
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .reviews-section {
        &__content {
            padding: 60px 30px;
        }

        &__right {
            &--text {
                h2 {
                    font-size: 30px;
                    line-height: 34px;
                }
            }
        }
    }
}