@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.footer {
    @include flex();
    background: linear-gradient(to bottom, rgba($gold-secondary, 0.8) 10%, rgba($gold-dark, 0.85) 90%);
    width: 100%;
    overflow: hidden;

    &__content {
        @include flex($gap: 40px);
        align-items: stretch; 
        max-width: 1440px;
        width: 100%;
        padding: 60px 50px 40px;
    }

    &__top {
        @include flex($gap: 35px);

        &--logo {
            @include flex($direction: row, $gap: 10px);
            user-select: none;

            img {
                height: 82px;
                width: 82px;
                transition: transform 0.2s ease-out;
            }

            &-text {
                @include flex($gap: 0px, $align: start);

                h2 {
                    @include title-font($size: 30px, $weight: 400, $color: #fff);
                    line-height: 30px;
                }

                h3 {
                    @include title-font($size: 30px, $color: #fff);
                    line-height: 30px;
                }
            }
        }

        p {
            @include body-font($size: 20px, $color: #fff);
            line-height: 24px;
            max-width: 650px;
            text-align: center;
        }
    }

    hr {
        width: 100%;
        border: 1px solid #fff;
    }

    &__bottom {
        @include flex($direction: row, $justify: space-between, $align: start);
        width: 100%;
        max-width: 950px;

        align-self: center !important;
        justify-self: center !important;

        h2 {
            @include title-font($size: 20px, $color: #fff);
        }
        
        p {
            @include body-font($size: 18px, $color: #fff);
            line-height: 22px;
            max-width: 350px;
        }

        &--contact {
            @include flex($align: start, $gap: 15px);
            
            &-items {
                @include flex($align: start, $gap: 15px);
            }

            &-item {
                @include flex($direction: row, $justify: start, $gap: 15px);
            }
        }

        &--links {
            @include flex($align: start, $gap: 15px);
            user-select: none;

            &-line {
                background-color: white;
                width: 4px;
                height: 30px;
            }
            
            &-items {
                @include flex($align: start, $gap: 10px);
            }

            &-item {
                @include flex($direction: row, $gap: 10px);
                cursor: pointer;
                transition: transform 0.2s ease, color 0.3s ease;

                &:hover {
                    transform: translateX(5px); 
                }
            }
        }

        &--social {
            @include flex($align: start, $gap: 15px);

            &-items {
                @include flex($align: start, $gap: 15px);
            }
        }
    }

    &__copyright {
        @include body-font($size: 16px, $color: #fff);
        line-height: 20px;
        text-align: center;
        padding-top: 8px;
    }
}

// Responsive medium
@include responsive(medium) {
    .footer {
        &__content {
            padding: 50px 40px 30px;
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .footer {
        &__top {
            &--logo {
                img {
                    height: 62px;
                    width: 62px;
                }

                &-text {
                    h2, h3 {
                        font-size: 28px;
                        line-height: 28px;
                    }
                }
            }

            p {
                font-size: 18px;
                line-height: 22px;
            }
        }

        &__bottom {
            @include flex($align: start, $gap: 40px);
            max-width: 300px;

            h2 {
                font-size: 18px;
            }
            
            p {
                font-size: 16px;
                line-height: 22px; 
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .footer {
        &__content {
            gap: 30px;
            padding: 50px 30px 30px;
        }

        &__top {
            &--logo {
                &-text {
                    h2, h3 {
                        font-size: 20px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}