@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.hero-section {
    @include flex($justify: start);
    width: 100%;
    padding: 20px 50px 0;
    background: linear-gradient(to bottom,rgba($background, 1) 20%, rgba($gold-primary, 1) 80%);
    height: 70vw;

    &__navbar {
        @include flex();
        height: 70px;
        width: 100%;
    }
}

// Resonsive medium
@include responsive(medium) {
    .hero-section {
        padding: 20px 40px 0;
    }
}

// Resonsive small
@include responsive(small) {
    .hero-section {
        padding: 20px 20px 0;
    }
}