@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.reviews-section {
    @include flex();
    width: 100%;
    background-color: #ffffff;
    overflow-x: clip;

    &__content {
        @include flex($gap: 50px);
        position: relative;
        padding: 60px 50px 20px;
        width: 100%;
        max-width: 1440px;
        z-index: 0;
        overflow-y: clip;
    }

    &__top {
        @include flex($gap: 30px);
        text-align: center;

        h2 {
            @include title-font($size: 40px, $color: $gold-dark);
            line-height: 44px;
            max-width: 600px;
        }

        h3 {
            @include body-font($size: 20px, $color: $gray-dark);
            line-height: 24px;
            max-width: 700px;
        }
    }

    &__background {
        user-select: none;
        
        &--left {
            position: absolute;
            pointer-events: none;
            z-index: -1;
            left: -500px;
            top: -300px;
        }

        &--right {
            position: absolute;
            pointer-events: none;
            z-index: -1;
            right: -500px;
            bottom: -300px;
        }
    }
}

// Responsive medium
@include responsive(medium) {
    .reviews-section {
        &__content {
            padding: 60px 40px 20px;
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .reviews-section {
        &__top {
            h3 {
                font-size: 18px;
                line-height: 20px;
            }

            h2 {
                font-size: 40px;
                line-height: 44px;
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .reviews-section {
        &__content {
            padding: 60px 30px 20px;
        }

        &__top {
            h2 {
                font-size: 30px;
                line-height: 34px;
            }
        }

        &__background {
            &--left {
                left: -400px;
                top: -400px;
            }

            &--right {
                right: -400px;
                bottom: -400px;
            }
        }
    }
}