// Utilities
@use './utils/variables' as *;
@use './utils/mixins' as *;
@use './utils/animations' as *;

// Sections
@use './sections/navbar' as *;
@use './sections/hero-section' as *;
@use './sections/benefits-section' as *;
@use './sections/about-section' as *;

// General
@use './general/section-title' as *;

// Cards
@use './cards/benefits-card' as *;

// Buttons
@use './buttons/general-button' as *;
@use './buttons/language-button' as *;
@use './buttons/ham-drowpdown' as *;

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a:focus {
    outline: none; 
}

.lang-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
	background-color: $background; 
}

.animated-section {
    width: 100%;
}
