//Colors
$background: #F2EFEA;
$gold-primary: #C0AA72;
$gold-secondary: #CEBD84;
$gold-dark: #846A2F;
$gray-dark: #2B2B2B;
$gray-light: #B1B1B1;

// Fonts
$font-libre: "Libre Baskerville", serif;
$font-montserrat : 'Montserrat ', sans-serif;
$font-logo: "EB Garamond", serif;