@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideFadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounceDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  60% {
    opacity: 1;
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounceRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  60% {
    opacity: 1;
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes splashDrop {
  0% {
    transform: translateY(-300px) scale(1) var(--initial-transform);
    opacity: 0;
  }
  80% {
    transform: translateY(0px) scale(1.1) var(--initial-transform);
    opacity: var(--final-opacity, 1);
  }
  100% {
    transform: translateY(-10px) scale(1) var(--initial-transform);
    opacity: var(--final-opacity, 1);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes cardShuffleIn {
  0% {
    opacity: 0;
    transform: translateY(-100px) rotate(-10deg) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateY(10px) rotate(3deg) scale(1.03);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0deg) scale(1);
  }
}
@keyframes flipPillRise {
  0% {
    transform: rotateX(60deg) translateY(50px);
    opacity: 0;
  }
  60% {
    transform: rotateX(-10deg) translateY(-10px);
    opacity: 1;
  }
  80% {
    transform: rotateX(5deg) translateY(2px);
  }
  100% {
    transform: rotateX(0deg) translateY(0);
  }
}
@keyframes slideBounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  60% {
    opacity: 1;
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 65px;
  width: 100%;
  max-width: 1400px;
  padding: 10px 40px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  animation: flipPillRise 0.8s ease-out forwards;
  transform-origin: center top;
}
.navbar__button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  transition: transform 0.3s ease;
  user-select: none;
}
.navbar__button h2 {
  font-family: "EB Garamond", serif;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -2%;
  color: #846A2F;
}
.navbar__button:hover {
  transform: scale(1.05);
}
.navbar__button:active {
  transform: scale(0.95);
}
.navbar__items {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: start;
  list-style-type: none;
}
.navbar__items a {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-weight: 500;
  color: #2B2B2B;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}
.navbar__items a .nav-inner {
  display: inline-block;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
}
.navbar__items a:hover .nav-inner {
  transform: translateY(-2px);
  color: #C0AA72;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 10px 30px;
  }
  .navbar__button h2 {
    display: none;
  }
  .navbar__items a {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .navbar__items {
    display: none;
  }
}
@media (max-width: 550px) {
  .navbar__button img {
    height: auto;
    width: 35px;
  }
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 20px 50px 0;
  background: linear-gradient(to bottom, #f2efea 25%, #c0aa72 75%);
}
.hero-section__navbar {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  z-index: 10;
}
.hero-section__content {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
  max-width: 1275px;
}
.hero-section__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: center;
}
.hero-section__left--text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  justify-content: center;
}
.hero-section__left--text h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 70px;
  font-weight: 500;
  color: #846A2F;
  line-height: 80px;
  line-height: 80px;
  letter-spacing: -1px;
  max-width: 800px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: slideBounceInLeft 0.6s ease-out forwards;
}
.hero-section__left--text h2 {
  font-family: "Montserrat ", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2B2B2B;
  line-height: 30px;
  line-height: 24px;
  max-width: 600px;
  animation: slideBounceInLeft 0.7s ease-out forwards;
}
.hero-section__left--button {
  animation: slideBounceInLeft 0.8s ease-out forwards;
}
.hero-section__right {
  animation: slideFadeInRight 0.8s ease-out forwards;
  user-select: none;
}

@media (max-width: 1200px) {
  .hero-section {
    padding: 20px 40px 0;
  }
  .hero-section__left--text h1 {
    font-size: 50px;
    line-height: 60px;
    max-width: 600px;
  }
  .hero-section__left--text h2 {
    max-width: 500px;
  }
}
@media (max-width: 800px) {
  .hero-section__content {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
  }
  .hero-section__left {
    padding: 50px 0 0;
    width: 100%;
    align-items: start;
  }
  .hero-section__left--text h1 {
    font-size: 40px;
    line-height: 50px;
    max-width: 400px;
  }
  .hero-section__left--text h2 {
    font-size: 18px;
    line-height: 22px;
    max-width: 400px;
  }
  .hero-section__right {
    animation: slideFadeInLeft 0.8s ease-out forwards;
  }
}
@media (max-width: 550px) {
  .hero-section {
    padding: 20px 30px 0;
  }
  .hero-section__left {
    padding: 40px 0 0;
  }
  .hero-section__left--text h1 {
    font-size: 35px;
    line-height: 45px;
  }
}
.benefits-section {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.benefits-section__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 60px 50px;
  position: relative;
}
.benefits-section__top {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.benefits-section__top h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  font-weight: 700;
  color: #846A2F;
  line-height: 50px;
  line-height: 44px;
  max-width: 600px;
}
.benefits-section__top h3 {
  font-family: "Montserrat ", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #2B2B2B;
  line-height: 30px;
  line-height: 24px;
  max-width: 700px;
}
.benefits-section__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: auto auto;
  gap: 0px;
  width: 100%;
  justify-items: center;
  justify-content: center;
  max-width: 1200px;
  row-gap: 40px;
}

@media (max-width: 1440px) {
  .benefits-section__cards {
    grid-template-columns: repeat(2, 300px);
    grid-auto-rows: auto;
  }
}
@media (max-width: 1200px) {
  .benefits-section__content {
    padding: 60px 40px 100px;
  }
}
@media (max-width: 800px) {
  .benefits-section__content {
    gap: 50px;
  }
  .benefits-section__top h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .benefits-section__top h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .benefits-section__cards {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: auto auto;
    gap: 0px;
    row-gap: 40px;
  }
}
@media (max-width: 550px) {
  .benefits-section__content {
    padding: 50px 30px 80px;
  }
  .benefits-section__top h3 {
    max-width: 300px;
  }
  .benefits-section__top h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
.about-section {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  overflow-x: clip;
}
.about-section__content {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1440px;
  width: 100%;
  padding: 60px 50px;
  z-index: 0;
  overflow-y: clip;
}
.about-section__left {
  flex: 1;
}
.about-section__left img {
  filter: drop-shadow(0 12px 12px #c0aa72);
  user-select: none;
}
.about-section__left--career {
  display: none;
}
.about-section__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: center;
  width: fit-content;
  flex: 1.2;
}
.about-section__right--text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: center;
  text-align: left;
  z-index: 5;
}
.about-section__right--text h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  font-weight: 700;
  color: #846A2F;
  line-height: 50px;
  line-height: 44px;
  max-width: 450px;
}
.about-section__right--body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.about-section__right--body p {
  font-family: "Montserrat ", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2B2B2B;
  line-height: 28px;
  line-height: 22px;
  max-width: 700px;
}
.about-section__right--career {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
  user-select: none;
}
.about-section__background--left {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  left: -600px;
  bottom: -400px;
}
.about-section__background--right {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  right: -500px;
  top: -300px;
}

@media (max-width: 1200px) {
  .about-section__content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
  }
  .about-section__left {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
  }
  .about-section__left img {
    width: auto;
  }
}
@media (max-width: 800px) {
  .about-section__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .about-section__left {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    order: 2;
  }
  .about-section__left img {
    width: 475px;
  }
  .about-section__left--career {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    user-select: none;
  }
  .about-section__left--career img:nth-child(1) {
    width: 200px;
  }
  .about-section__right--text h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .about-section__right--body p {
    font-size: 18px;
    line-height: 20px;
  }
  .about-section__right--career {
    display: none;
  }
}
@media (max-width: 550px) {
  .about-section__content {
    padding: 60px 30px 60px;
  }
  .about-section__right--text h2 {
    font-size: 30px;
    line-height: 34px;
  }
  .about-section__left--career img:nth-child(1) {
    width: 150px;
  }
  .about-section__left--career img:nth-child(2) {
    width: 250px;
  }
  .about-section__background--left {
    left: -400px;
    bottom: -300px;
  }
  .about-section__background--left img {
    height: 1300px;
  }
  .about-section__background--right {
    right: -400px;
    top: -200px;
  }
  .about-section__background--right img {
    height: 1300px;
  }
}
.services-section {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to bottom, rgba(132, 106, 47, 0.75) 30%, rgba(206, 189, 132, 0.75) 70%);
}
.services-section__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 60px 50px;
  position: relative;
}
.services-section__top {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.services-section__top h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  line-height: 50px;
  line-height: 44px;
  max-width: 500px;
}
.services-section__top h3 {
  font-family: "Montserrat ", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
  line-height: 24px;
  max-width: 700px;
}

@media (max-width: 1200px) {
  .services-section__content {
    padding: 60px 40px;
  }
}
@media (max-width: 800px) {
  .services-section__top h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .services-section__top h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .services-section__cards {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: auto auto;
    gap: 0px;
    row-gap: 40px;
  }
}
@media (max-width: 550px) {
  .services-section__content {
    padding: 60px 30px;
  }
  .services-section__top h3 {
    max-width: 300px;
  }
  .services-section__top h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
.section-title {
  font-family: "Montserrat ", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #2B2B2B;
  line-height: 28px;
  border-radius: 100px;
  padding: 6px 26px;
  width: fit-content;
  min-width: 150px;
}
.section-title h4 {
  line-height: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  .section-title h4 {
    font-size: 18px;
    line-height: 22px;
  }
}
.services-scroller {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin-top: 10px;
}
.services-scroller__slide {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  transform: scale(0.85);
}
.services-scroller .swiper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  padding-bottom: 60px;
}
.services-scroller .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
}
.services-scroller .swiper-slide-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
}
.services-scroller .swiper-pagination .swiper-pagination-bullet {
  background-color: black;
}
.services-scroller .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}
.services-scroller .swiper-slide-active .slider__slide-inner {
  transform: scale(1);
}
.services-scroller__button--next, .services-scroller__button--prev {
  cursor: pointer;
  margin-bottom: 60px;
  transition: all 0.2s ease;
  width: fit-content;
}
.services-scroller__button--next:hover, .services-scroller__button--prev:hover {
  transform: scale(1.1);
}
.services-scroller__button--next:active, .services-scroller__button--prev:active {
  transform: scale(0.95);
}

@media (max-width: 1440px) {
  .slider {
    max-width: 1080px;
  }
  .slider .swiper-slide-prev, .slider .swiper-slide-next {
    width: fit-content !important;
  }
}
@media (max-width: 1200px) {
  .slider .swiper-slide {
    width: 400px !important;
  }
  .slider .swiper-wrapper {
    width: 400px !important;
  }
}
@media (max-width: 550px) {
  .slider .swiper-slide {
    width: 325px !important;
  }
  .slider .swiper-wrapper {
    width: 325px !important;
  }
  .slider__button--next, .slider__button--prev {
    display: none;
  }
}
.benefits-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 12px 12px #cebd84;
  border-radius: 30px;
  padding: 30px;
  max-width: 250px;
  width: 100%;
  height: 100%;
}
.benefits-card__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.benefits-card__text h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 28px;
  line-height: 20px;
}
.benefits-card__text p {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-weight: 700;
  color: #2B2B2B;
  line-height: 24px;
  line-height: 18px;
}

.services-card {
  position: relative;
  width: 400px;
  height: 550px;
}

.general-button--primary, .general-button--secondary {
  font-family: "Montserrat ", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #846A2F;
  line-height: 28px;
  line-height: 20px;
  letter-spacing: 0.4px;
  background-color: #ffffff;
  min-width: 150px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(132, 106, 47, 0.5);
  transition: transform 0.2s ease, color 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.general-button--primary:hover, .general-button--secondary:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 10px rgba(132, 106, 47, 0.5);
}
.general-button--primary:active, .general-button--secondary:active {
  transform: translateY(0px);
  box-shadow: 0 4px 6px rgba(132, 106, 47, 0.5);
}
.general-button--secondary {
  background-color: #846A2F;
  color: #ffffff;
}
.general-button__text {
  position: relative;
  z-index: 2;
}

@media (max-width: 550px) {
  .general-button--primary, .general-button--secondary {
    font-size: 16px;
    padding: 8px 20px;
  }
}
.language-button {
  background-color: #ffffff;
  padding: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.language-button:hover {
  transform: scale(1.1) rotate(10deg);
}
.language-button:active {
  transform: scale(0.9) rotate(-5deg);
}

@media (max-width: 800px) {
  .language-button {
    display: none;
  }
}
.ham-dropdown {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ham-dropdown__button {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease;
}
.ham-dropdown__button.is-open {
  transform: rotate(90deg);
}
.ham-dropdown__content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: start;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 25px;
  border-radius: 12px;
  padding: 20px 50px 20px 25px;
  min-width: 225px;
  transform: translateX(25px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25) !important;
}
.ham-dropdown__content .language-button {
  display: block;
}
.ham-dropdown__item {
  transition: transform 0.3s ease-out;
  outline: none;
}
.ham-dropdown__item:focus {
  outline: none;
}
.ham-dropdown__item .chakra-menu__item {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-weight: 700;
  color: #2B2B2B;
  line-height: 28px;
  padding: 8px 0px;
  background-color: transparent;
}
.ham-dropdown__item .chakra-menu__item:focus {
  outline: none;
}
.ham-dropdown__item:hover {
  transform: translateX(6px);
}
.ham-dropdown__button, .ham-dropdown__content button, .ham-dropdown__content .chakra-menu__item {
  outline: none !important;
  box-shadow: none !important;
}
.ham-dropdown__button:focus, .ham-dropdown__content button:focus, .ham-dropdown__content .chakra-menu__item:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 800px) {
  .ham-dropdown {
    display: block;
  }
  .ham-dropdown .chakra-menu__item {
    padding: 8px 0px;
  }
  .ham-dropdown .toggle-button {
    display: flex;
  }
}
@media (max-width: 550px) {
  .ham-dropdown__content {
    width: 85vw;
    transform: translateX(-8px);
  }
  .ham-dropdown .chakra-menu__positioner {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    width: 100vw !important;
    padding: 0 30px;
  }
  .ham-dropdown__item .chakra-menu__item {
    font-size: 16px !important;
    font-size: 20px;
    padding: 7px 0px;
  }
}
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a:focus {
  outline: none;
}

.lang-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #F2EFEA;
}

.animated-section {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */